* {
    /*border: 1px dotted red;*/
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


/* CONTENEDOR PRINCIPAL */

#contenedor {
    width: 916px;
}


/* ENCABEZADO */

#encabezado img {
    width: 80px;
    display: initial;
    position: absolute;
}

#encabezado h2 {
    margin: 22px 0px 2px 83px;
    display: inline-block;
    font-size: 35px;
}

#encabezado h3 {
    color: #ffffff;
    height: 41px;
    font-size: 26px;
    padding: 12px 0px 0px 17px;
    background-image: linear-gradient(to bottom, #245076, #3b7fb9, #245076);
}

#encabezado h2 span {
    color: #3884c5;
}


/* NAVEGACION */

#navegacion {
    width: 173px;
    display: inline-block;
    vertical-align: top;
    margin: 34px 20px 0px 4px;
    font-weight: bolder;
}

#navegacion * {
    font-weight: bolder;
}

#navegacion h2 {
    font-size: 14px;
}

#navegacion button {
    margin-top: 16px;
    margin-left: 0px;
    width: 171px;
    height: 35px;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #655b5b;
    border: none;
}

#navegacion p {
    font-size: 12px;
    margin-top: 15px;
}

#navegacion img {
    width: 80px;
    margin-left: 46px;
}

#watchvideo {
    background-image: linear-gradient(to bottom, #578fbd, #2e6fa5);
}

#moreresources {
    background-image: linear-gradient(to bottom, #eba649, #ef7c00);
    color: #ffffff;
}

#spanWhatisInternet {
    color: #ff0000 !important;
}

#navegacion span {
    color: #1aa0df;
}

#reinvent {
    color: #ffffff;
    height: 270px;
    margin-top: 10px;
    background-image: url("../imagenes/ad_background.png");
}

#reinvent button {
    width: 153px;
    height: 29px;
    margin-left: 8px;
    color: #ffffff;
    background-image: linear-gradient(to bottom, #69cedf, #38c9de, #69cedf);
}

#reinvent p {
    color: #ffffff;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
}


/* CONTENIDO */

#contenido {
    display: inline-block;
    width: 687px;
    margin-left: 25px;
}

#contenido h2 {
    color: #3884c5;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#contenido span {
    color: #2db8ce;
}


/* CONTENIDO - SUPERIOR */

#home {
    width: 20px;
    display: inline-block;
    vertical-align: top;
}

#dns {
    width: 438px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #3b7fb9;
    margin-top: 3px;
}

#phone {
    width: 45px;
    display: inline-block;
}

#horario {
    width: 170px;
    display: inline-block;
    font-size: 12px;
}

#horario span {
    color: #00c0df;
    font-weight: bold;
    font-size: 26px;
}


/* CONTENIDO - CONCEPTOS */

#cliente_servidorImg {
    width: 300px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tamagnoText {
    font-size: 14px;
}


/* CONENIDO - CUADRADO INFERIOR */

#theBig3 img {
    width: 129px;
    margin: 15px
}

#theBig3 {
    font-size: 14px;
    border: 5px solid #418ed1;
    margin-top: 20px;
}

#parrafoTheBig3 {
    display: inline-block;
    width: 508px;
    height: 150px;
    vertical-align: top;
    margin-top: 10px;
}

#parrafoTheBig3 p {
    margin-top: 10px;
}