/*CSS reset settings here*/

#wrapper {
    width: 87%;
    background-color: #ebebeb;
    margin: 0em auto;
    padding: 1.5em;
}

#header {
    min-height: 8em;
    background-color: green;
}

#navegacion {
    display: inline-block;
    min-height: 20em;
    width: 23%;
    background-color: blue;
    margin: 1em 0em 0em 0em;
}

#main_content {
    display: inline-block;
    vertical-align: top;
    min-height: 31em;
    background-color: red;
    margin: 1em 0em 0em 2em;
}

.subcontents {
    min-height: 13em;
    background-color: yellow;
    display: inline-block;
}

#advertisement {
    min-height: 9em;
    background-color: purple;
}

@media only screen and (max-width:480px) {
    .titulo {
        visibility: hidden;
    }
    #titulo::before {
        content: "1024";
        visibility: visible;
    }
    #main_content {
        width: 100%;
    }
    .subcontents {
        min-height: 7em;
        width: 92%;
    }
    #navegacion {
        display: none;
    }
    #main_content {
        margin: 20px 0px 0px 0px;
    }
    #advertisement {
        width: 92%;
        margin: 1em 0em 1em 1em;
    }
    #cuadroUno {
        margin: 1em 2em 0em 1em;
    }
    #cuadroDos {
        margin: 1em 0em 0em 1em;
    }
    #cuadroTres {
        margin: 1em 0em 0em 1em;
    }
}

@media only screen and (min-width:481px) {
    #main_content {
        width: 100%;
    }
    .subcontents {
        min-height: 12em;
        width: 42%;
    }
    #navegacion {
        display: none;
    }
    #main_content {
        margin: 20px 0px 0px 0px;
    }
    #advertisement {
        width: 94%;
        margin: 1em 0em 1em 1em;
    }
    #cuadroUno {
        margin: 1em 1em 0em 1em;
    }
    #cuadroDos {
        margin: 1em 0em 0em 1em;
    }
    #cuadroTres {
        margin: 1em 0em 0em 1em;
    }
}

@media only screen and (min-width:1024px) {
    #navegacion {
        display: inline-block;
    }
    .subcontents {
        width: 30%;
    }
    #main_content {
        width: 76%;
    }
    #cuadroUno {
        margin: 1em 1em 1em 1em;
    }
    #cuadroDos {
        margin: 1em 1em 1em 0em;
    }
    #cuadroTres {
        margin: 1em 0em 1em 0em;
    }
    #advertisement {
        width: 96%;
        margin: 1em 0em 1em 1em;
    }
}